on:
  pull_request:

name: Security (PR)

permissions:
  contents: read

jobs:
  semgrep:
    ## Skip any PR created by dependabot to avoid permission issues:
    #if: (github.actor != 'dependabot[bot]')
    name: semgrep-oss/scan
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: KittyCAD/gha-workflows/.github/actions/semgrep-action@main
        with:
          show_results_in_pr: true

  zizmor:
    name: zizmor
    runs-on: ubuntu-latest
    permissions:
      contents: read # only needed for private repos
      actions: read # only needed for private repos
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: KittyCAD/gha-workflows/.github/actions/zizmor-action@main
        id: zizmor
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          results_format: github
      - name: Show results in PR
        run: cat ${{ steps.zizmor.outputs.results_file_path }}
