on:
  pull_request:

name: Security (PR)

jobs:
  semgrep:
    ## Skip any PR created by dependabot to avoid permission issues:
    #if: (github.actor != 'dependabot[bot]')
    name: semgrep-oss/scan
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: KittyCAD/gha-workflows/.github/actions/semgrep-action@security
