on:
  workflow_call:
    inputs: { }
    secrets:
      DEPENDENCY_TRACK_AUTOMATION_API_KEY:
        required: true
      DEFECTDOJO_API_TOKEN:
        required: true

name: Security

# No special permissions needed if this is being called through `workflow_call`. The calling workflow needs to be configured correctly.
permissions:
  contents: read

jobs:
  sbom-trivy:
    runs-on: ubuntu-latest
    container:
      image: aquasec/trivy:0.67.2
    steps:
      - run: trivy --version
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: trivy fs --format cyclonedx --output /tmp/trivy-cyclonedx.json .
      - run: apk --no-cache add curl
      - run: |
          curl -X "POST" "https://dependency-track-sbom.corp.zoo.dev/api/v1/bom" \
               -H 'Content-Type: multipart/form-data' \
                -H "X-Api-Key: $DEPENDENCY_TRACK_AUTOMATION_API_KEY" \
               -F "autoCreate=true" \
               -F "projectName=$PROJECT_NAME" \
               -F "projectVersion=$PROJECT_VERSION" \
               -F "isLatest=true" \
               -F "bom=@/tmp/trivy-cyclonedx.json"
        env:
          PROJECT_NAME: ${{ github.repository }}
          PROJECT_VERSION: ${{ github.ref_name }}
          DEPENDENCY_TRACK_AUTOMATION_API_KEY: ${{ secrets.DEPENDENCY_TRACK_AUTOMATION_API_KEY }}

  semgrep:
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep:1.145.2
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: KittyCAD/gha-workflows/.github/actions/semgrep-action@main # zizmor: ignore[unpinned-uses]
        id: semgrep
        with:
          show_results_in_pr: false
          results_format: json
      - uses: KittyCAD/gha-workflows/.github/actions/upload-defectdojo@main # zizmor: ignore[unpinned-uses]
        with:
          dd_token: ${{ secrets.DEFECTDOJO_API_TOKEN }}
          report_path: ${{ steps.semgrep.outputs.results_file_path }}
          scan_type: Semgrep JSON Report
          engagement: Semgrep

  zizmor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: KittyCAD/gha-workflows/.github/actions/zizmor-action@main # zizmor: ignore[unpinned-uses]
        id: zizmor
        with:
          results_format: sarif
          gh_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: KittyCAD/gha-workflows/.github/actions/upload-defectdojo@main # zizmor: ignore[unpinned-uses]
        with:
          dd_token: ${{ secrets.DEFECTDOJO_API_TOKEN }}
          report_path: ${{ steps.zizmor.outputs.results_file_path }}
          scan_type: SARIF
          engagement: Zizmor

