on:
  pull_request:

name: Security (PR)

permissions:
  contents: read

jobs:
  semgrep:
    ## Skip any PR created by dependabot to avoid permission issues:
    #if: (github.actor != 'dependabot[bot]')
    name: semgrep-oss/scan
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      checks: write
      contents: read
      actions: write
    container:
      image: semgrep/semgrep

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: ./.github/actions/semgrep-action

