on:
  workflow_call:
    inputs: {}
    secrets:
      DEPENDENCY_TRACK_AUTOMATION_API_KEY:
        required: true
  push:
    branches:
      - main

name: Security

permissions:
  contents: read

jobs:
  sbom-trivy:
    runs-on: ubuntu-latest

    container:
      image: aquasec/trivy:0.67.2

    steps:
      - run: trivy --version
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: trivy fs --format cyclonedx --output /tmp/trivy-cyclonedx.json .
      - run: apk --no-cache add curl
      - run: |
          curl -X "POST" "https://dependency-track-sbom.corp.zoo.dev/api/v1/bom" \
               -H 'Content-Type: multipart/form-data' \
                -H "X-Api-Key: ${{ secrets.DEPENDENCY_TRACK_AUTOMATION_API_KEY }}" \
               -F "autoCreate=true" \
               -F "projectName=${{ github.repository }}" \
               -F "projectVersion=${{ github.ref_name }}" \
               -F "isLatest=$IS_LATEST" \
               -F "bom=@/tmp/trivy-cyclonedx.json"
