on:
  pull_request:

name: Security (PR) (Testing)

permissions:
  contents: read

jobs:
  zizmor:
    name: zizmor
    runs-on: ubuntu-latest
    permissions:
      contents: read # only needed for private repos
      actions: read # only needed for private repos
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: ./.github/actions/zizmor-action
        with: {}
